<nav class="navbar navbar-inverse ms-navbar">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">AppLite</a>
      </div>
      <ul class="nav navbar-nav navbar-left" *ngIf="router.url === '/admin' || router.url === '/admin/deals' || router.url === '/admin/groups' || router.url === '/admin/users'">
        <li><a [routerLink]="['admin/deals']">Deals</a></li>
        <li><a [routerLink]="['admin/groups']">Groups</a></li>
        <li><a [routerLink]="['admin/users']">Users</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">About us</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>