.ms-navbar {
    background-color: #3b5998;
    border-color: #8b9dc3;
}

.inner-content {
    width: 100%;
    font-size: 15px;
    padding: 60px;
    text-align: justify;
    text-justify: inter-word;
    line-height: 30px;
    color: green;
}

.inner-content p {
    margin: 0 0 30px;
}